.banner{
    background-image: url(../img/maldive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.blog{
    padding-top: 115px;
}
.author{
    height: 60px;
}
.author-revamped{
    height: 60px;
}